
body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#startnav{
    
    font-size: 19px;
    font-weight: bold;
    padding-left: 70px;
}
.home-btn{
    font-weight: 500 !important;
}

.home-btn:hover{
    color:black !important;
}
.lead1{
    color: #0061f2;
    background-color: #dae7fb;
    font-size: 12px;
    width: 5.5% !important;
    font-weight:500;
    border-radius: 10px;
    padding: 3px 14px;
    margin: 0px 0px 16px;
}
.content{
    text-align: center;
    font-size: 17.6px;
    color:#69707a;
    font-weight: 400;
    margin-left: 20px;
}
.image-content{
    max-width: 88%;
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* border-radius: 10px !important; */
    /* box-shadow: #212832; */
   cursor: pointer;
  
}


.image-title{
    text-align: center !important;
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
    color: #363d47;
}
.list-title{
    font-size: 16px !important;
   padding-left: px !important;
}
.list-group{
    box-shadow: 6px 6px 6px 6px rgb(233, 230, 230);
}
.list{
    font-size: 14px !important;
    color: #212832 !important;
    font-weight: 400 !important;
}

.list-group-item:hover{
background-color: #eceff3;
}
.lead3{
    color: #0061f2;
    background-color: #dae7fb;
    font-size: 12px;
    width: 7.5% !important;
    font-weight:500;
    border-radius: 10px;
    padding: 3px 14px;
    margin: 0px 0px 16px;
}
.heading{
    font-size: 17.6px !important;
    color: #363d47;
}
.sub-heading{
    font-size: 16px !important;
    color: #69707a;
}